/* Style for the notification bar */
#notification-bar {
    background-color: #3498db; /* Change to your preferred color */
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: top 0.3s ease-in-out;
    width: inherit;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Style for the close button */
#notification-close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

#notification-close-btn:hover {
    opacity: 1;
}
